numpy==1.26.4
pandas==2.2.2
pytz
python-dateutil
tzdata
scipy==1.13.1
numba==0.60.0
llvmlite==0.43.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
transformers==4.41.2
accelerate==0.30.1
timm==0.9.16
huggingface-hub
safetensors
tokenizers==0.19.1
regex
psutil
librosa==0.10.2.post1
soundfile==0.12.1
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
tqdm==4.66.4
sed_eval==0.2.1
dcase-util
msclap==1.3.4
torchlibrosa
datasets
setuptools<81
